<h1>CsvController#import</h1>
<p>Find me in app/views/csv_controller/import.html.erb</p>
<p>CSVファイルをインポートします</p>

<%= form_tag(import_stocks_path, multipart: true) do %>
	<%= file_field_tag :file %>
	<%= submit_tag "CSVインポート" %>
<% end %>
